.form-contact {
    background: #ffffff;
    border-radius: 15px;
    padding: 52px 65px 76px 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
    &__title {
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        color: #000000;
        margin-bottom: 25px;
        text-align: center;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        color: #000000;
        max-width: 410px;
        margin: auto;
        margin-bottom: 55px;
    }

    &__label {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 535px;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        &-name {
            font-weight: 500;
            font-size: 22px;
            line-height: 27px;
            color: #000000;
            margin-bottom: 25px;
        }
    }

    &__input {
        font-weight: 200;
        font-size: 18px;
        line-height: 22px;
        color: #7a7a7a;
        border: none;
        border-bottom: 2px solid #9cc32f;
        padding-bottom: 20px;
        padding-left: 15px;
        outline: none;
    }

    &__sub {
        margin-top: 50px;
        max-width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .form-contact {
        padding: 30px 25px;
        &__title {
            font-size: 28px;
            line-height: 35px;
        }
        &__subtitle {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 35px;
        }
    }
}
